<html>
  <head>
    <script src="/vuejs/bower_components/vue/dist/vue.js" charset="utf-8"></script>
  </head>
  <body>
    <div id="app">
      <form action="">
        <input type="text" v-model="message" />
        <input type="submit" v-if="message" @click.prevent="message = 'test'" />
      </form>
      {{ $data | json }}
    </div>
    <script type="text/javascript">
      new Vue({
        el: '#app',
        data: {
          message: ''
        }
      })
    </script>
  </body>
</html>
